@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.dancing {
  font-family: 'Dancing Script', cursive;
}

.background-color {
  background: linear-gradient(90deg, rgb(18, 23, 37) 0%, rgba(46,46,65,1) 100%, rgba(0,212,255,1) 100%);
}

.btn-primary {
  @apply text-white bg-primary px-7 py-2 rounded-full hover:opacity-90 transition-all
}

.slick-dots {
  @apply !flex justify-start w-full ps-20;
}

.slick-dots .slick-active div {
  @apply bg-primary w-5 h-3 !mt-8;
}

.slick-dots div {
  @apply !m-0 !mt-8;
}